# Dependencies
node_modules/

# Next.js
.next/
out/

# Logs
*.log

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db